<div class="content bg-white">

    {{#if alert}}
    <div class="alert alert-success alert-dismissible fade show m-3 shadow" role="alert">
        {{message}}
        <a type="button" href="/suppliers" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </a>
    </div>
    <a class="btn btn-primary mx-3" href="/suppliers">All suppliers</a>
    {{/if}}

    {{#if data}}
    {{#each data}}
    <h2 class=" mb-5">Update supplier : {{name}}</h2>

    <form method="post" action="/update_supplier">
        <input type="hidden" id="id" name="id" value="{{id}}">

        <div class="form-row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="name">NAME</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="name"
                        placeholder="Supplier name" value="{{name}}">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="phone_number">PHONE NUMBER</label>
                    <input type="text" class="form-control" id="phone_number" name="phone_number"
                        aria-describedby="phone_number" placeholder="phone number" value="{{phone_number}}">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="product_name">PRODUCT NAME</label>
                    <input type="text" class="form-control" id="product_name" name="product_name"
                        placeholder="product_name" value="{{product_name}}">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="category">CATEGORY</label>
                    <input type="text" class="form-control" id="category" name="category" placeholder="category"
                        value={{category}}>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="price">PRICE</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="price"
                        value={{price}}>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary d-block w-50 mx-auto">Save</button>
    </form>
</div>
{{/each}}
{{/if}}