<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <form method="put" action="/update">
                    {{#each data}}
                    <input type="hidden" value="{{id}}" id="id" name="id">

                    <div class="form-group">
                        <label for="name">PRODUCT NAME</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name"
                            placeholder="product name" value={{name}}>
                    </div>
                    <div class="form-group">
                        <label for="category">CATEGORY</label>
                        <input type="text" class="form-control" id="category" placeholder="category"
                            value="{{category}}">
                    </div>
                    <div class="form-group">
                        <label for="price">UNIT PRICE</label>
                        <input type="number" class="form-control" id="price" placeholder="price" value="{{price}}">
                    </div>
                    <div class="form-group">
                        <label for="quantity">QUANTITY</label>
                        <input type="number" class="form-control" id="quantity" placeholder="quantity"
                            value="{{quantity}}">
                    </div>
                    <div class="form-group">
                        <label for="supplier">SUPPLIER</label>
                        <input type="text" class="form-control" id="supplier" placeholder="supplier"
                            value="{{supplier}}">
                    </div>
                    <div class="form-group d-none">
                        <label for="created">Created</label>
                        <input type="date" class="form-control" id="created" placeholder="created"
                            value="{{created_at}}">
                    </div>

                    {{/each}}

                    <button type="submit" class="btn btn-primary d-block w-100">Update</button>
                </form>
            </div>
        </div>
    </div>